/*font load*/
@font-face {
  font-family: 'nobileregular';
  src: url('../font/nobile-regular-webfont.eot');
  src: url('../font/nobile-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/nobile-regular-webfont.woff2') format('woff2'),
  url('../font/nobile-regular-webfont.woff') format('woff'),
  url('../font/nobile-regular-webfont.ttf') format('truetype'),
  url('../font/nobile-regular-webfont.svg#nobileregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

body {
  padding-bottom: 40px;
  padding-top: 40px;
  color: #5a5a5a;

  font-family:"nobileregular";
  background-color: #f6fdfd;
}


/* navbar
-------------------------------------------------- */
.head{
  float:right;
}
.icon{
  width: 25;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

/*intro && about
-------------------------------------------------- */


.intro{
  padding: 60px 0 30px 0;
  width: 100%;
  height: 230px;
  text-align: center;
  z-index: 0;
  background-color: #f6f6f6;
  color: #606060;
}

.about{
  padding: 0px 15px 15px 15px;
  margin: 0px 20% 15px 20%;
  background-color: #f6f6f6;
  color: #606060;
}

.aboutImage{
  margin: 0px 10% 15px 10%;
}


/*projs 
*/

a.projLink, a.addresstext:link {color: #606060; text-decoration: none; }
a.projLink, a.addresstext:visited {color: #606060; text-decoration: none; }
a.projLink, a.addresstext:hover {color: #606060; text-decoration: none; }
a.projLink, a.addresstext:active {color: #606060; text-decoration: none; }

.projHolder{
  margin-top: 20px;
  opacity: 1;
  -webkit-transition: all 1s ease-out;
}

.projHolder div {
  opacity: 0;
  position: absolute;
  width: 70%;
  height: 100px;
  top: 75%;
  padding-left: 20px;
  -webkit-transition: all 1s ease-out;
}
.projHolder img {
 /*-webkit-transform: translateZ(0);*/
 opacity: 1;
 -webkit-transition: all 0.5s ease-out;

}

.projHolder:hover div {
  display: block;
  opacity: 0.85;
  -webkit-transform: translateY(-25%);
  -moz-transform: translateY(-25%);
  transform: translateY(-25%);
  -webkit-transition: all 0.5s ease-out;
}

.projHolder:hover img {
  opacity: 0.65;
  -webkit-transition: all 0.5s ease-out;
}
.discription{
  opacity: 0.85;
  background-color: #f6fdfd;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
}

.copyright{
  clear: both;
  font-size: 12px;
  width: 100%;
  z-index: 0;
  height: 50px;
  text-align: center;
  padding: 30px 0 15px 0;
}